.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.nav {
    display: flex;
    gap: 15px;
    align-items: center;
}

.nav a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

.nav a:hover {
    color: #f90;
}

.auth-section {
    display: flex;
    gap: 10px;
    align-items: center;
}

.username {
    font-size: 16px;
    font-weight: bold;
}

.logout-btn {
    font-size: 16px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: rgb(240, 78, 78);
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

.logout-btn:hover {
    background-color: #ff7e7e;
}